<div class="mian-container">
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Filter"/>
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="notes-log" [@listAnim]>
        <app-note-card 
        *ngFor="let note of notes; index as i" 
        [link]="i.toString()"
        [@itemAnim]
        [title]="note.title" 
        [body]="note.body"
        (delete)="onDeleteNote(i)">
      </app-note-card>
    </div>

    <button class="button floating-add-button is-success" routerLink="new">+ Add</button>
</div>